<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="../css/about.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
	<div class="header">
		<a href="../index.html" class="logo"></a>
		<div class="header-right">
			<a href="../index.html">Home</a>
			<a href="screenshots.html">Screenshots</a>
			<a class="active" href="about.html">About</a>
			<a href="actors.html">Actors</a>
		</div>
	</div>
	<h1>Movie Synopsis</h1>
	<div class="synopsis"><p class="p1"><img src="../media/movie.jpg" alt="Avenger movie poster 2012." class="image">When Thor's evil brother, Loki (Tom Hiddleston), gains access to the unlimited power of the energy cube called the Tesseract, Nick Fury (Samuel L. Jackson), director of S.H.I.E.L.D., initiates a superhero recruitment effort to defeat the unprecedented threat to Earth. Joining Fury's "dream team" are Iron Man (Robert Downey Jr.), Captain America (Chris Evans), the Hulk (Mark Ruffalo), Thor (Chris Hemsworth), the Black Widow (Scarlett Johansson) and Hawkeye (Jeremy Renner).</p></div>
	<h1>Reviews</h1>
	<div>
		<!-- I use span to group the elements together -->
		<p class="p2">
			<span class="star-icon full">☆</span>
			<span class="star-icon full">☆</span>
			<span class="star-icon full">☆</span>
			<span class="star-icon full">☆</span>
			<span class="star-icon half">☆</span>
			<a href="https://www.rottentomatoes.com/m/marvels_the_avengers/" target="_blank">Rotten Tomatoes</a>
			<span class="star-icon full">☆</span>
			<span class="star-icon full">☆</span>
			<span class="star-icon full">☆</span>
			<span class="star-icon full">☆</span>
			<span class="star-icon">☆</span>
			<a href="https://www.imdb.com/title/tt0848228/?ref_=tt_urv" target="_blank">IMDb</a>
			<span class="star-icon full">☆</span>
			<span class="star-icon full">☆</span>
			<span class="star-icon full">☆</span>
			<span class="star-icon full">☆</span>
			<span class="star-icon">☆</span>
			<a href="https://www.theguardian.com/film/2012/apr/26/avengers-assemble-review" target="_blank">The Guardian</a>
			<br>
			<br>
		</p>
		<p class="p3">
			"Just settle down with your 3D glasses for some bang-bang stuff where VFX speak louder than guns and the super guys have nothing to fall back on, other than their muscles, reflexes and super powers."
			<a href="https://timesofindia.indiatimes.com/entertainment/english/movie-reviews/the-avengers/movie-review/12880515.cms" target="_blank">Full review</a>
			<br>
			<img src="../media/toi.png" alt="Times of India logo."><a href="https://timesofindia.indiatimes.com/entertainment/english/movie-reviews/the-avengers/movie-review/12880515.cms" target="_blank">Times of India</a>
			<br> <br><br>
			"Quick-witted and nuanced, this movie takes the best of the genre -- iconic heroes fighting for truth and justice -- and dishes it out in a fanboy-pleasing, edge-of-your seat way." <a href="https://www.commonsensemedia.org/movie-reviews/the-avengers" target="_blank">Full review</a><br>
			<img src="../media/com.png" alt="Common Sense Media logo."><a href="https://www.commonsensemedia.org/movie-reviews/the-avengers" target="_blank">S.Jhoanna Robledo <br>Common Sense Media</a>
			<br><br><br>
			"A joyous blend of heroism and humour that raises the stakes even as it maintains a firm grip on what makes the individual heroes tick." <a href="https://www.empireonline.com/movies/avengers-assemble/review/" target="_blank">Full review</a>
			<br>
			<img src="../media/empire.png" alt="Empire review logo."><a href="https://www.empireonline.com/movies/avengers-assemble/review/" target="_blank">Empire</a>
		</p>
	</div>
</body>
</html>                            