<!DOCTYPE html>
<html>
<head>
	<title>Actors</title>
	<link rel="stylesheet" type="text/css" href="../css/actors.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
	<div class="header">
		<a href="../index.html" class="logo"></a>
		<div class="header-right">
			<a href="../index.html">Home</a>
			<a href="screenshots.html">Screenshots</a>
			<a href="about.html">About</a>
			<a class="active" href="actors.html">Actors</a>
		</div>
	</div>
	<div class="fade">
		<h1>The Avengers Cast</h1>
		<div class="flex-container">
			<div class="inner"><a href="#ironman"><img src="../media/robert.jpg" alt="Robert Downey Jr.."></a><a href="#_" class="lightbox" id="ironman"><img src="../media/ironman.jpg" alt="Iron Man."><br>Iron Man</a><br><a href="https://en.wikipedia.org/wiki/Robert_Downey_Jr." target="_blank">Robert Downey Jr.<br>(Tony Stark/Iron Man)</a></div>
			<div class="inner"><a href="#captainamerica"><img src="../media/evans.jpg" alt="Chris Evans."></a><a href="#_" class="lightbox" id="captainamerica"><img src="../media/captainamerica.jpg" alt="Captain America."><br>Captain America</a><br><a href="https://en.wikipedia.org/wiki/Chris_Evans_(actor)" target="_blank">Chris Evans<br>(Steve Rogers/Captain America)</a></div>
			<div class="inner"><a href="#hulk"><img src="../media/mark.jpg" alt="Mark Ruffalo."></a><a href="#_" class="lightbox" id="hulk"><img src="../media/hulk.jpg" alt="Hulk."><br>Hulk</a><br><a href="https://en.wikipedia.org/wiki/Mark_Ruffalo" target="_blank">Mark Ruffalo<br>(Bruce Banner/Hulk)</a></div>
		</div>
		<div class="flex-container">
			<div class="inner"><a href="#thor"><img src="../media/hemsworth.jpg" alt="Chris Hemsworth."></a><br><a href="#_" class="lightbox" id="thor"><img src="../media/thor.jpg" alt="thor"><br>Thor</a><a href="https://en.wikipedia.org/wiki/Chris_Hemsworth" target="_blank">Chris Hemsworth<br>(Thor)</a></div>
			<div class="inner"><a href="#blackwidow"><img src="../media/scarlett.jpg" alt="Scarlett Johansson."></a><a href="#_" class="lightbox" id="blackwidow"><img src="../media/blackwidow.jpg" alt="Black Widow."><br>Black Widow</a><br><a href="https://en.wikipedia.org/wiki/Scarlett_Johansson" target="_blank">Scarlett Johansson<br>(Natasha Romanoff/Black Widow)</a></div>
			<div class="inner"><a href="#hawkeye"><img src="../media/jeremy.jpg" alt="Jeremy Renner."></a><a href="#_" class="lightbox" id="hawkeye"><img src="../media/hawkeye.jpg" alt="Hawkeye."><br>Hawkeye</a><br><a href="https://en.wikipedia.org/wiki/Jeremy_Renner" target="_blank">Jeremy Renner<br>(Clint Barton/Hawkeye)</a></div>
		</div>
		<div class="flex-container">
			<div class="inner"><a href="#loki"><img src="../media/tom.jpg" alt="Tom Hiddleston."></a><a href="#_" class="lightbox" id="loki"><img src="../media/loki.jpg" alt="Loki."><br>Loki</a><br><a href="https://en.wikipedia.org/wiki/Tom_Hiddleston" target="_blank">Tom Hiddleston<br>(Loki)</a></div>
			<div class="inner"><a href="#philcoulson"><img src="../media/clark.jpg" alt="Clark Gregg."></a><a href="#_" class="lightbox" id="philcoulson"><img src="../media/philcoulson.jpg" id="Phil Coulson."><br>Phil Coulson</a><br><a href="https://en.wikipedia.org/wiki/Clark_Gregg" target="_blank">Clark Gregg<br>(Phil Coulson)</a></div>
			<div class="inner"><a href="#nickfury"><img src="../media/samuel.jpg" alt="Samuel L. Jackson."></a><a href="#_" class="lightbox" id="nickfury"><img src="../media/fury.png" alt="Nick Fury."><br>Nick Fury</a><br><a href="https://en.wikipedia.org/wiki/Samuel_L._Jackson" target="_blank">Samuel L. Jackson<br>(Nick Fury)</a></div>
		</div>
		<div class="flex-container">
			<div class="inner"><a href="#erikselvig"><img src="../media/stellan.jpg" alt="Stellan Skarsgard."></a><a href="#_" class="lightbox" id="erikselvig"><img src="../media/erikselvig.png" alt="Professor Erik Selvig."><br>Professor Erik Selvig</a><br><a href="https://en.wikipedia.org/wiki/Stellan_Skarsg%C3%A5rd" target="_blank">Stellan Skarsgard<br>(Professor Erik Selvig)</a></div>
			<div class="inner"><a href="#mariahill"><img src="../media/cobie.jpg" alt="Cobie Smulders."></a><a href="#_" class="lightbox" id="mariahill"><img src="../media/mariahill.png" alt="Maria Hill."><br>Maria Hill</a><br><a href="https://en.wikipedia.org/wiki/Cobie_Smulders" target="_blank">Cobie Smulders<br>(Maria Hill)</a></div>
		</div>
	</div>
</body>
</html>         