<!DOCTYPE html>
<html>
<head>
	<title>Screenshots</title>
	<link rel="stylesheet" type="text/css" href="../css/screenshots.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
	<div class="header">
		<a href="../index.html" class="logo"></a>
		<div class="header-right">
			<a href="../index.html">Home</a>
			<a class="active" href="screenshots.html">Screenshots</a>
			<a href="about.html">About</a>
			<a href="actors.html">Actors</a>
		</div>
	</div>
	<div class="fade">
		<h1>Screenshots</h1>
		<div class="container">
			<div class="slider">
				<div class="slide slide1">
				</div>
				<div class="slide slide2">
				</div>
				<div class="slide slide3">
				</div>
				<div class="slide slide4">
				</div>
				<div class="slide slide5">
				</div>
				<div class="slide slide6">
				</div>
				<div class="slide slide7">
				</div>
				<div class="slide slide8">
				</div>
			</div>
		</div>
		<div class="container2">
			<div class="flex-box">
				<div class="one"><img src="../media/screen1.jpg"></div>
				<div class="two"><img src="../media/screen2.jpg"></div>
				<div class="three"><img src="../media/screen3.jpg"></div>
				<div class="four"><img src="../media/screen4.jpg"></div>
				<div class="five"><img src="../media/screen5.jpg"></div>
				<div class="six"><img src="../media/screen6.jpg"></div>
				<div class="seven"><img src="../media/screen7.jpg"></div>
				<div class="eight"><img src="../media/screen8.jpg"></div>
			</div>
		</div>
	</div>
</body>
</html>         